.button {
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	min-height: 1em;
	outline: none;
	border: none;
	vertical-align: baseline;
	background-color: black;
	color: white;
	font-family: "Lato", "Helvetica Neue", Arial,
		Helvetica, sans-serif;
	margin: 0em 0.25em 0em 0em;
	padding: 0.78571em 1.5em 0.78571em;
	text-transform: none;
	text-shadow: none;
	font-weight: bold;
	line-height: 1;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	background-image: none;
	border-radius: 0.2857rem;
	box-shadow: 0px 0px 0px 1px transparent inset,
		0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: opacity 0.1s ease,
		background-color 0.1s ease, color 0.1s ease,
		box-shadow 0.1s ease, background 0.1s ease;
	transition: opacity 0.1s ease,
		background-color 0.1s ease, color 0.1s ease,
		box-shadow 0.1s ease, background 0.1s ease;
	will-change: "";
	-webkit-tap-highlight-color: transparent;
}
